
h2{
    background-color: rgb(0, 203, 74);
    height: 200px;
    width: 200px;
   
    margin: 10px auto;

    border-radius: 10px;
    border: 10px solid rgb(0, 0, 0);

    padding: 10px;

    outline: 10px 10px 10px 10px;
    outline-color: blue;
    outline-style: dashed;
}

p{
    background-color: aqua;
}

a{
    
    background-color: rgb(0, 203, 74);
   
    margin: 10px auto;

    border-radius: 10px;
    border: 10px solid rgb(0, 0, 0);

    padding: 10px;


}
}